html {
    background-color: rgb(0, 66, 75);
}

img {
    width: 300px;
}

* {
    color: rgb(0, 2, 1);
}

h1 {
    color: maroon;
}

h2 {
    color: rgb(15, 70, 173);
}

.color {
    color: rgb(8, 144, 223);
}

body {
    background-color: rgba(207, 54, 54, 0.459);
    width: 1080px;
    padding: 10px;
    margin: 15px auto;
    font-family: sans-serif;
    border: 3px solid rgb(17, 200, 103);

}

header {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

section h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}